.page {
  width: 210mm;  /* A4 너비 */
  height: 297mm; /* A4 높이 */
  margin: 10mm auto;
  padding: 10mm;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
/* 칠판스타일 적용 (차후 개념설명과 문제해설 부분에서 사용 or 사용자설정에 선택??....*/
.blackboard {
  width: 210mm;  /* A4 너비 */
  height: 297mm; /* A4 높이 */
  margin: 10mm auto;
  padding: 10mm;
  color: #ffffff;
  box-sizing: border-box;
  background: #016e25;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page + .page {
  margin-top: 10mm; /* 페이지 간격 */
}

@media print {
    .page {
      page-break-after: always;
      box-shadow: none;
      margin: 0;
    }
  }
  