
.help {
  flex: 1;
  display: flex;
  height: 100%;
}
.nav-help {
  flex: 0 0 17%;
  background-color: #a6f8b1;
  overflow-y: auto;
  padding: 20px;
}
.setting {
  flex: 1;
  display: flex;
  height: 100%;
}
.nav-setting {
  flex: 0 0 17%;
  background-color: #ecf790;
  overflow-y: auto;
  padding: 20px;
}
.study {
  flex: 1;
  display: flex;
  height: 100%;
}
.nav-study {
  flex: 0 0 17%;
  background-color: #fadede;
  overflow-y: auto;
  padding: 20px;
}
.usingAI {
  flex: 1;
  display: flex;
  height: 100%;
}
.nav-usingAI {
  flex: 0 0 17%;
  background-color: #f8b1e3;
  overflow-y: auto;
  padding: 20px;
}
/* 우측 콘텐츠 영역: 남은 공간을 채우고 내부에 세로 스크롤 적용 */
#content {
  flex: 1;
  overflow-y: auto;
  padding-left: 20px;
}
