.sizedbox {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

h1 {
    color: #0c5702;
}
h2 {
    color: #c90477;
}
h3 {
    color: #5905f5;
}
h4 {
    color: #025a44;
}
article {
    color: #6e4403; 
}
