.sizedbox {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.interval-x {
    width: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.interval-y {
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h3 {
    color: #5905f5;
}
h4 {
    color: #025a44;
}
article {
    color: #6e4403; 
}
